body {
  font-family: Arial;
  text-align: center;
  padding-top: 50px;
}

#messageBox {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  background: lightgray;
  transition: 0.3s;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
